.add-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  padding: 10px;
  border-radius: 10px;
  margin-top: 2rem;
}
.inputs-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
}

.inputs-container > input {
  padding: 5px;
  border-radius: 8px;
}
.add-user-btn {
  background-color: #3087d8;
  padding: 0.5rem 4rem;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1.5rem;
}

.add-user-btn:hover {
  background-color: #0667c2;
}

.add-user-btn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}
