.pizza-stages-section-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
  
}
.pizza-stages-section-main>h3{
    padding-bottom: 30px;
    padding-top: 30px;
    
}
.pizza-stages-section-container>div>h3{
        margin-bottom: 50px;
} 

.pizza-stages-section-container{
    background-color: white;
    border: 1px solid white;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 1px;
    gap: 2px;
    min-height: 200px;
    width: 100%;
    min-width: 100px;
    
}

.pizza-stages-section-container>div{
    background-color: #16171c;
   
}
table{
 border-collapse: collapse;
 width: 100%;

  table-layout: fixed;
 
}


table,td,th{
border: 2px solid white;   
padding: 10px;
}

button{
     border:1px solid black;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
}